@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    background-color: black;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

a:active, a:link, a:visited {
    color: white;
    cursor: pointer;
    text-decoration: none;
}

tr {
    line-height: 3.5vw;
}
  
#main {
    justify-content: center;
    text-align: center;
}

#title {
    text-transform: uppercase;
    font-size: 1.6vw;
    font-weight: 300;
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

#active {
    text-transform: uppercase;
    color: #d6dadd;
    margin-top: -4.5vw;
    font-size: 1.4vw;
    animation: fadeInAnimation ease 4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

#date {
    text-transform: uppercase;
    margin-top: -2vw;
    font-size: 4vw;
    font-weight: 700;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.countdown {
    padding-top: 1.5vw;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    margin-top: 2vw;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    animation: fadeInAnimation ease 5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    border: 2px solid #d6dadd;
    border-radius: 1vw;
}

.time {
    color: white;
    font-size: 6vw;
}

#days, #hours, #minutes, #seconds {
    font-weight: 700;
    padding-top: 5px;
    padding-right: 5px;
    padding-left: 5px;
    width: 200px;
}

.time-titles {
    color: #FFC947;
    font-size: 1.2vw;
}

#me {
    font-size: 0.8vw;
    color: white;
}

#me:hover {
    color: #ce2042;
}

#no-sale {
    margin-top: 5vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:340px;
    height:223.5px;
    animation: fadeInAnimation ease 7s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% { opacity: 0; }
    75% { opacity: 0; }
    100% { opacity: 1; }
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    background-color: black;
    text-align: center;
}